
<h1>Adicionar Treino</h1>

<!--Criando um formulario direcionado para /add com um metodo de post-->

<form action="/treino/add" class="form" method="post">

<!-- Criando uma div para cada coluna da tabela onde possui uma classe para edição, e um input para adicionar um dado -->

    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder=" nome do exercício">
    </div>

    <div class="form-control">
        <label for="sets">Series:</label>
        <input type="text" name="sets" placeholder="número de series">
    </div>

    <div class="form-control">
        <label for="reps">Repetições:</label>
        <input type="text" name="reps" placeholder="número de repetições">
    </div>

    <div class="form-control">
        <label for="rests">Descanso:</label>
        <input type="text" name="rests" placeholder=" tempo de descanso">
    </div>

    <input type="submit" value="Adicionar">

</form>

